.dialog-overlay {
	BACKGROUND: #f0f0f0; FILTER: alpha(opacity:10); opacity: 0.5
}
.dialog {
	border:2px #acacac solid;
	background:#fff;
	
	WIDTH:250px;HEIGHT:200px; FILTER: alpha(opacity:70);  opacity: 0.9;
}
.dialog .bar {
	height:40px;
	border-bottom:1px #CCC solid;
	margin:0px 25px 5px;
	
}
.dialog .bar h1 {
	margin-top:12px;
	color:#5f5f5f;
	font-size:14px;
	display:block;
	line-height:30px;
}


.dialog .bar .title {
	FLOAT: left; MARGIN-RIGHT: 10px
}
.login_pop_t a {
	position:absolute;
	top:5px;
	right:5px;
}
.login_foot {
	height:30px;
	clear:both;
	width:264px;
	margin:0px auto;
	padding-top:10px;
	padding-bottom:20px;
	padding-left:15px;
}
.login_foot a {
	background:#ececec;
	border:1px #cccccc solid;
	height:28px;
	line-height:28px;
	width:200px;
	text-align:center;
	color:#3d3d3d;
	display:block;
	float:left;
}
.login_foot a:hover {
	background:#cccccc;
	border:1px #999999 solid;
	color:#000;
}
.login_foot a.loginbtn {
	float:right;
}
.dialog .contentdia {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #fff; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.dialog IFRAME {
	WIDTH: 100%; HEIGHT: 100%
}
.contentdia IMG {
	MAX-WIDTH: 700px; OVERFLOW: auto; MAX-HEIGHT: 500px
}
