<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:security="http://www.springframework.org/schema/security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.0.xsd">

	<!-- 启用annotation注解 -->
	<security:global-method-security secured-annotations="enabled" jsr250-annotations="enabled" pre-post-annotations="enabled" />

	<!--配置security -->
	<!-- access-denied-page指定错误之后跳转的页面 -->
	<security:http auto-config="true" access-denied-page="/errors/auth.jsp">
		<!-- 指定登录页面 -->
		<security:form-login login-page="/toLogin.jsp" />
		<!-- 退出设置，默认为logout-url="/j_spring_security_logout" -->
		<security:logout logout-success-url="/toLogin.jsp" logout-url="/logout" />
		<!--对下列页面不进行拦截，至于为什么要加一个*是因为请求的时候可能会带有一些参数 -->

		<!-- 放开首页列表 -->
		<security:intercept-url pattern="/login.jsp*" filters="none" />
		<security:intercept-url pattern="/App_Themes/**" filters="none" />
		<security:intercept-url pattern="/common/**" filters="none" />
		<security:intercept-url pattern="/errors/**" filters="none" />
		<security:intercept-url pattern="/verifyCode*" filters="none" />
		<security:intercept-url pattern="/user/forgetPassword*" filters="none" />
		<security:intercept-url pattern="/user/confirmUserInfo*" filters="none" />
		<security:intercept-url pattern="/user/modifyPassword*" filters="none" />
		<security:intercept-url pattern="/user/saveModifyPassword*" filters="none" />
		<security:intercept-url pattern="/front/*" filters="none" />

		<security:intercept-url pattern="/league/leagueFile*" filters="none" />
		<security:intercept-url pattern="/notice/showNoticeDetail*" filters="none" />
		<security:intercept-url pattern="/race/showMesDetails*" filters="none" />
		<security:intercept-url pattern="/train/showMesDetails*" filters="none" />
		<security:intercept-url pattern="/sign/yaoyiyao*" filters="none" />
		<security:intercept-url pattern="/sign/msg.html*" filters="none" />
		<security:intercept-url pattern="/getToken*" filters="none" />
		<security:intercept-url pattern="/wxuser/regist.jsp*" filters="none" />
		<security:intercept-url pattern="/wxuser/userSave*" filters="none" />
		<security:intercept-url pattern="/goindex.jsp*" filters="none" />
		<security:intercept-url pattern="/index.jsp*" filters="none" />
		<security:intercept-url pattern="/toSecurity.jsp*" filters="none" />
		<security:intercept-url pattern="/toLogin.jsp*" filters="none" />
		<security:intercept-url pattern="/message*" filters="none" />
		
		<!-- 帮助页面 -->
		<security:intercept-url pattern="/help.html*" filters="none" />
		<security:intercept-url pattern="/tiaokuan.html*" filters="none" />

		<security:intercept-url pattern="/ueditor/**" filters="none" />
		<!-- 配置进入系统任何界面或方法所需要的权限,此处要求为登录合法用户 -->
		<security:intercept-url pattern="/**" access="IS_AUTHENTICATED_FULLY" />

		<!-- 会话管理配置 -->
		<security:session-management invalid-session-url="/errors/timeout.jsp">
			<!-- 防止二次登录配置，二次登录会使第一次登录信息失效，error-if-maximum-exceeded应设置为false， -->
			<!-- 如果在其他的地方登录，会将第一次的信息注销 <security:concurrency-control max-sessions="1" error-if-maximum-exceeded="true" /> -->

		</security:session-management>

		<!-- 配置登录过滤器,去掉后remember me可以使用 -->
		<security:custom-filter ref="loginFilter" before="FORM_LOGIN_FILTER" />
		<!-- 配置授权过滤器 -->
		<security:custom-filter ref="securityFilter" before="FILTER_SECURITY_INTERCEPTOR" />

	</security:http>

	<!-- 配置认证管理器 -->
	<security:authentication-manager alias="nxAuthenticationManager">
		<security:authentication-provider user-service-ref='nxUserDetailsService' />
	</security:authentication-manager>

	<bean id="roleVoter" class="org.springframework.security.access.vote.RoleVoter">
		<property name="rolePrefix" value="" />
	</bean>

	<!-- 登录过滤器 -->
	<bean id="loginFilter" class="com.ningxun.security.action.NxUsernamePasswordAuthenticationFilter">
		<!-- 处理登录 -->
		<property name="filterProcessesUrl" value="/nxback"></property>
		<property name="authenticationSuccessHandler" ref="loginLogAuthenticationSuccessHandler">
		</property>
		<property name="authenticationFailureHandler" ref="simpleUrlAuthenticationFailureHandler">
		</property>
		<property name="authenticationManager" ref="nxAuthenticationManager">
		</property>
	</bean>

	<bean id="loginLogAuthenticationSuccessHandler" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
		<!-- 登录成功后跳转的ACTION或页面 -->
		<property name="defaultTargetUrl" value="/home"></property>
	</bean>

	<bean id="simpleUrlAuthenticationFailureHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
		<!-- 登录失败后跳转的ACTION或页面 -->
		<property name="defaultFailureUrl" value="/toLogin.jsp"></property>
	</bean>


	<!-- 授权过滤器 -->
	<bean id="securityFilter" class="com.ningxun.security.action.NxSecurityFilter">
		<!-- 用户拥有的权限 -->
		<property name="authenticationManager" ref="nxAuthenticationManager" />
		<!-- 用户是否拥有所请求资源的权限 -->
		<property name="accessDecisionManager" ref="nxAccessDecisionManager" />
		<!-- 系统资源与权限对应关系 -->
		<property name="securityMetadataSource" ref="nxSecurityMetadataSource" />
	</bean>

	<bean id="nxAccessDecisionManager" class="com.ningxun.security.action.NxAccessDecisionManager">
	</bean>
	<bean id="nxSecurityMetadataSource" class="com.ningxun.security.action.NxSecurityMetadataSource">
	</bean>


	<!-- 国际化信息 -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<!-- 配置登录页面出错之后从哪里读取数据显示在页面上 -->
		<property name="basename" value="classpath:org/springframework/security/messages_zh_CN" />
	</bean>
</beans>